<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".ViewPracticeApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Viewsystempractice"
        tools:targetApi="31">
        <activity
            android:name=".clean_architecture_1.presentation.artist.ArtistActivity"
            android:exported="false" />
        <activity
            android:name=".clean_architecture_1.presentation.tv_show.TvShowActivity"
            android:exported="false" />
        <activity
            android:name=".clean_architecture_1.presentation.movie.MovieActivity"
            android:exported="false">

        </activity>
        <activity
            android:name=".food.presentation.activities.MealDetailActivity"
            android:exported="false" />
        <activity
            android:name=".food.presentation.activities.FoodMainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".clean_architecture_1.presentation.TmdbClientActivity"
            android:exported="false">

        </activity>
        <activity
            android:name=".dagger.DaggerPracticeActivity"
            android:exported="false" />
        <activity
            android:name=".unit_tests.CalcActivity"
            android:exported="false" />
        <activity
            android:name=".workmanager.WorkManagerActivity"
            android:exported="false" />
        <activity
            android:name=".notification.NotificationSettingActivity"
            android:exported="false" />
        <activity
            android:name=".notification.NotificationDetailActivity"
            android:exported="false" />
        <activity
            android:name=".notification.NotificationClickActivity"
            android:exported="false" />
        <activity
            android:name=".notification.NotificationActivity"
            android:exported="false" />
        <activity
            android:name=".retrofit.RetrofitActivity"
            android:exported="false" />
        <activity
            android:name=".database_migration.StudentActivity"
            android:exported="false" />
        <activity
            android:name=".coroutines.VmScopeDemoActivity"
            android:exported="false" />
        <activity
            android:name=".coroutines.ParallelDecompositionActivity"
            android:exported="false" />
        <activity
            android:name=".coroutines.CoroutineMission1Activity"
            android:exported="false" />
        <activity
            android:name=".coroutines.CoroutineActivity"
            android:exported="false" />
        <activity
            android:name=".recyclerview.RvBasicActivity"
            android:exported="false" />
        <activity
            android:name=".navigation.BaseActivity"
            android:exported="false" />
        <activity
            android:name=".databinding.TwoWayActivity"
            android:exported="false" />
        <activity
            android:name=".viewmodel.VmAccActivity"
            android:exported="false" />
        <activity
            android:name=".viewmodel.VmBasicActivity"
            android:exported="false" />
        <activity
            android:name=".databinding.ObjectBindingActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".databinding.ProgressActivity"
            android:exported="false" />
        <activity
            android:name=".room.RoomDemoActivity"
            android:exported="false" />
    </application>

</manifest>